<div class="ma2 pa2 b--dark-gray b--dashed ba tc">
  <p class="b"> {{ user.displayName }} </p>
  <p class="i"><a href="{{ user.profileUrl }}"> GitHub Profile </a></p>
</div>
<a href="/logout" class="link">
  <button class="pa2"> Logout 👋 </button>
</a>