<!DOCTYPE html>
<html class="flex flex-column h-100">

<head>
  <title> NodeJS PassportJS - GitHub </title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Quicksand', sans-serif;
      color: #212121;
      margin: 0;
      padding: 0;
    }

    body {
      background: #fefefe;
    }
  </style>
</head>

<body class="flex flex-column h-100 items-center justify-center">
  {{{ body }}}
</body>

</html>